body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    background-color: rgb(60, 60, 60);
    color: rgb(238, 238, 238);
    font-family:serif;
}
#mikufied {
    width: 100%;
    height: 300px;
    background-color: aqua;
    background-image: url("https://leahjkh.github.io/MikuApiGithub/images/fullBg/fb4.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -450px ;
}
header {
    width: 100%;
    height: 87px;
    background-color: rgb(116, 198, 198);
    border-radius: 0 0 50px 50px;
    padding-top: 20px;
    position: sticky;
}
header > h1 {
    margin: 0;
    cursor: pointer;
    font-family: 'Vocaloid', serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 10ch;

}


.main-btn-PS {
    width: 175px;
    font-size: 26px;
    height: fit-content;
    padding: 10px 5px;
    background-color: rgb(125, 125, 206);
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
.main-btn-PS:hover {
    background-color: rgb(145, 145, 224);
}
a:hover{
    color: rgb(29, 27, 27);
}
.header-txt-link {
    text-decoration: none;
    color: rgb(242, 240, 240);
}


.main-sect-cont {
 font-size: 26px;
 width: 35%;
 justify-self: center;
 align-self: center;
 border-bottom: 1px solid rgb(30, 30, 30);
 padding: 20px;
 border-radius: 6px;

}




.row {
    display: flex;
    flex-direction: row;
}
.column {
    display: flex;
    flex-direction: column;
}

@font-face {
    font-family: 'Vocaloid';
    src: url(../font/vocaloid/VOC-IT.ttf);
}