
.vocaloid-card {
width: 350px;
height: 200px;
background-color: rgb(44, 44, 44);
box-shadow: -1px -1px 2px black;
border-radius: 0 0  20px 0;
display: flex;
margin: 10px 5px 0 5px ;

}
.image-vocaloid {
    width: 200px;
}

.div-txt {
border-right: 1px solid black;
border-radius: 20px;
width: 200px;
}
.div-img {
    width: 50%;
    overflow: hidden;
}

#vocaloid-cont {
    flex-wrap: wrap ;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

#search-voc {
    width: 200px;
}

#vocaloid-sect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
